.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px; 
}
.profile-align {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.profile-attributes {
	text-align: left;
	max-width: 300px;
}
.convos-title {
	text-align: center;
}
.convos {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}	
.convos-type {
	width: 50%
}
.convos-human {
	.convos-type;
	float: left;
}
.convos-bot {
	.convos-type;
	float: right;
}
