.message-panel {
  font-family: @body-font;
  font-size: 20px;
  font-weight: normal;
  max-height: 800px;
  height: 50vh;
  word-wrap: break-word;
  margin-bottom: 5px;
  line-height: 24px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper-message {
  clear: both;
}
.text-bubble{
	position:relative;
    max-width: 400px;
    padding:10px 20px;
	border-radius:10px;
    margin:10px;
    border: 1px solid;
}
.rate-now {
    width: 100%;
    height: 50px;
}
.from-me {
    .text-bubble;
	color: black; 
	background: white;
    border-color: @fg;
	float: right;
}
.from-them {
    .text-bubble;
	background: white;
	color: black;
    border-color: @bg-1;
    float: left;
  }
.progress-bar {
    background-color: @fg;
}
.from-me-imessage {
	position:relative;
	max-width: 400px;
	padding:10px 20px;
	color:white; 
	background:#0B93F6;
	border-radius:10px;
    margin:10px;
	float: right;
		
	&:before {
		content:"";
		position:absolute;
		z-index:0;
		bottom:-2px;
		right:-7px;
		height:20px;
		border-right:20px solid #0B93F6;
		border-bottom-left-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:1;
		bottom:-2px;
		right:-56px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-left-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
}
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    /* -webkit-transition: background 250ms linear;
    transition: background 250ms linear; */
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; 
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
/*     -webkit-transition: width 250ms;
    transition: width 250ms; */
}


.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
.from-them-imessage {
	position:relative;
	max-width: 400px;	
	padding:10px 20px;
	background:#E5E5EA;
	border-radius:10px;
	color: black;
  margin: 10px;
  float: left;
		
	&:before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
}


.chat-background{
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	background: url(http://www.wallpaperup.com/uploads/wallpapers/2012/09/26/16626/8155b41ae43140299c342079a2c134dd.jpg);
	text-align: center;
	background-size: cover;
}

.loading-btn{
	text-align:center;
    margin: auto;
	max-width: 350px;
	background: #fff;
	color: #000;
    border-color: #FFF;
    border-radius: 0px;
    font-size: 20px;
    font-weight: 400;
    transition: all .4s ease-in-out;
}


.progress-for-loader .progress{
	height: 30px !important;
	vertical-align: text-center;
}

.progress-for-loader .progress .progress-bar{
    vertical-align: text-bottom;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.progress-input {
  margin: 50px auto;
  margin-top: 5px;
}
.form-control { 
    font-size: 17px;
    font-family: @body-font;
}


/// Rate now button
.btn-disabled {
    opacity: .6;
    cursor: no-drop;
}
.pro-tip {
	height: 80px;
}
