.footer-lower {
    margin-top: 99px;
}

footer a {
	color: #999999;
}
footer .row {
	margin-right: 56.6px;
	margin-left: 56.6px;	
}
footer {
    color: #999999;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
    padding: 10px;
    background: white;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
