.profile-side {
    font-family: 'Futura-Normal', arial;
    font-size: 20px;
}
.botico {
	.profile-side;
    border-radius: 50%;
    width: 100%;
    background-color: #000;
}

.humanico {
	.profile-side;
    border-radius: 50%;
    width: 100%;
    background-color: @fg;
}
