.profile-side {
    font-family: 'Futura-Normal', arial;
    font-size: 20px;
}
<<<<<<< 74c47309cbc5bc1aea64c504a437ee99f96fffbe
.profile-side .botico {
=======
.botico {
	.profile-side;
>>>>>>> Merging profile containers and adding intermediate CSS.
    border-radius: 50%;
    width: 100%;
    background-color: #000;
}

<<<<<<< 74c47309cbc5bc1aea64c504a437ee99f96fffbe
.profile-side .humanico {
=======
.humanico {
	.profile-side;
>>>>>>> Merging profile containers and adding intermediate CSS.
    border-radius: 50%;
    width: 100%;
    background-color: @fg;
}
